<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--<properties resource="log4j.properties"></properties>-->
    <!--加载连接数据库的基本信息文件-->
    <properties resource="jdbc.properties"></properties>

    <!--<settings>-->
        <!--<setting name="cacheEnabled" value="true"/>-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--<setting name="multipleResultSetsEnabled" value="true"/>-->
        <!--<setting name="useColumnLabel" value="true"/>-->
        <!--<setting name="useGeneratedKeys" value="false"/>-->
        <!--<setting name="autoMappingBehavior" value="PARTIAL"/>-->
        <!--<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
        <!--<setting name="defaultExecutorType" value="SIMPLE"/>-->
        <!--<setting name="defaultStatementTimeout" value="25"/>-->
        <!--<setting name="defaultFetchSize" value="100"/>-->
        <!--<setting name="safeRowBoundsEnabled" value="false"/>-->
        <!--<setting name="mapUnderscoreToCamelCase" value="false"/>-->
        <!--<setting name="localCacheScope" value="SESSION"/>-->
        <!--<setting name="jdbcTypeForNull" value="OTHER"/>-->
        <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->
    <!--</settings>-->

    <typeAliases>
        <typeAlias type="com.weima.entity.Girl" alias="Girl"/>
        <typeAlias type="com.weima.entity.VehicleMap" alias="VehicleMap"/>
        <typeAlias type="com.weima.entity.tbControlCommandDistribution" alias="tbCommand"/>
    </typeAliases>

    <environments default="development">
        <environment id="bdap">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${bdap.url}"/>
                <property name="username" value="${bdap.username}"/>
                <property name="password" value="${bdap.password}"/>
                <!--<property name="poolMaximumActiveConnections " value="100"/>-->
                <!--<property name="poolMaximumIdleConnections " value="1"/>-->
                <!--<property name="poolMaximumCheckoutTime " value="60000"/>-->
                <!--<property name="poolTimeToWait " value="60000"/>-->
            </dataSource>
        </environment>
        <environment id="weima_p">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${weima_p.url}"/>
                <property name="username" value="${weima_p.username}"/>
                <property name="password" value="${weima_p.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/girl.xml"/>
        <mapper resource="mappers/vehiclemap.xml"/>
        <mapper resource="mappers/tbControl/commandDis.xml"/>
    </mappers>
</configuration>